@using Final.Models
@model List<Entertainer>
@{
    Layout = "_Layout";
}

<h1 class="fw-bold">Our Beloved Entertainers</h1>

<table class="table-borderless">
    <thead class="fw-bolder">
    <td>Stage Name</td>
    <td>View</td>
    </thead>
    @foreach (var x in Model)
    {
        <tbody>
        <td>@x.EntStageName</td>
        <td><a class="btn-outline-primary" asp-controller="Home" asp-action="Profile" asp-route-id="@x.EntertainerId">View</a></td>
        </tbody>
    }
</table>